button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}

#alertModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  display: none;
}

.alertModalContainer {
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 250px);
  border-radius: 15px;
  box-shadow: 4px 4px 55px rgba(162, 132, 107, 0.25);
}
.alertH2 {
  text-align: center;
  margin-top: 43px;
}

.alertP {
  text-align: center;
  margin-top: 46px;
  font-size: 28px;
}
.alertButton {
  background-color: #f4dfba;
  margin: 50px 0 0 146px;
}

.alertButton:hover {
  background-color: #ffdf91;
}

.alertButtonContainer {
  display: flex;
  margin: 48px 0 0 30px;
}
.confirmButtonForConfirm {
  background-color: #f4dfba;
}
.confirmButtonForConfirm:hover {
  background-color: #ffdf91;
}
.cancelButtonForConfirm {
  color: #fff;
  background-color: #91684a;
}
.cancelButtonForConfirm:hover {
  background-color: #493323;
}
